In [1]:

import pandas as pd
import numpy as np
import seaborn as sns
import pandas_datareader as pdr
from datetime import datetime
from pandas import DataFrame
from pandas import concat
import matplotlib.pyplot as plt
import tensorflow as tf

C:\Users\arush\AppData\Roaming\Python\Python311\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\arush\AppData\Roaming\Python\Python311\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
C:\Users\arush\AppData\Roaming\Python\Python311\site-packages\numpy\.libs\libopenblas64__v0.3.23-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
from tensorflow.python.keras.engine.sequential import Sequential

from tensorflow.python.keras.layers import Dense, Conv2D, Flatten, Dropout, MaxPooling2D

from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.layers import LSTM ,Conv1D, MaxPooling1D, Flatten
from tensorflow.keras.models import Sequential
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from keras.layers import Dense, LSTM, Dropout, GRU, Bidirectional
from matplotlib import pyplot
%matplotlib inline

In [3]:
df= pd.read_csv('A:\OverallDataset\Karnataka\OverallKarnataka.csv')

In [4]:
df

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NOx (ppb),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3)
0,03-01-2010 14:00,03-01-2010 15:00,NaN,NaN,38.94,1.15,1.98,94.53
1,03-01-2010 15:00,03-01-2010 16:00,NaN,NaN,37.13,1.34,1.66,102.16
2,03-01-2010 16:00,03-01-2010 17:00,NaN,NaN,40.14,1.47,1.29,100.12
3,03-01-2010 17:00,03-01-2010 18:00,NaN,NaN,49.80,1.31,1.28,77.13
4,03-01-2010 18:00,03-01-2010 19:00,NaN,NaN,98.62,0.59,1.82,26.12
...,...,...,...,...,...,...,...,...
1048570,07-03-2021 15:00,07-03-2021 16:00,5.41,7.57,24.85,2.21,0.57,88.78
1048571,07-03-2021 16:00,07-03-2021 17:00,4.93,6.91,19.92,2.53,0.58,90.30
1048572,07-03-2021 17:00,07-03-2021 18:00,3.96,5.55,21.81,2.48,0.69,96.91
1048573,07-03-2021 18:00,07-03-2021 19:00,3.56,4.99,35.65,2.21,0.97,68.57
1048574,07-03-2021 19:00,07-03-2021 20:00,4.63,6.49,40.82,1.90,1.47,40.02

In [5]:
import pandas as pd


# Function to check if a column contains string values
def contains_strings(column):
    return any(isinstance(value, str) for value in column)

# Iterate through the columns and check for string values
for column in df.columns:
    if contains_strings(df[column]):
        print(f"Column '{column}' contains string values.")
    else:
        print(f"Column '{column}' does not contain string values.")

Column 'From Date' contains string values.
Column 'To Date' contains string values.
Column 'PM2.5 (ug/m3)' does not contain string values.
Column 'PM10 (ug/m3)' does not contain string values.
Column 'NOx (ppb)' does not contain string values.
Column 'SO2 (ug/m3)' does not contain string values.
Column 'CO (mg/m3)' does not contain string values.
Column 'Ozone (ug/m3)' does not contain string values.

In [6]:
import pandas as pd

# Assuming your DataFrame is named 'df'
df['From Date'] = pd.to_datetime(df['From Date'], format="%d-%m-%Y %H:%M")
df['To Date'] = pd.to_datetime(df['To Date'], format="%d-%m-%Y %H:%M")

# Verify the data types of the columns
print(df.dtypes)


# Now 'From Date' and 'To Date' are datetime data types

From Date        datetime64[ns]
To Date          datetime64[ns]
PM2.5 (ug/m3)           float64
PM10 (ug/m3)            float64
NOx (ppb)               float64
SO2 (ug/m3)             float64
CO (mg/m3)              float64
Ozone (ug/m3)           float64
dtype: object

In [7]:
import pandas as pd
import numpy as np


# Check for missing values in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
missing_pm25 = df['PM2.5 (ug/m3)'].isnull().sum()
missing_pm10 = df['PM10 (ug/m3)'].isnull().sum()

if missing_pm25 > 0:
    print(f"Number of missing values in 'PM2.5 (ug/m3)': {missing_pm25}")

if missing_pm10 > 0:
    print(f"Number of missing values in 'PM10 (ug/m3)': {missing_pm10}")

# Check for outliers in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
z_scores_pm25 = np.abs((df['PM2.5 (ug/m3)'] - df['PM2.5 (ug/m3)'].mean()) / df['PM2.5 (ug/m3)'].std())
z_scores_pm10 = np.abs((df['PM10 (ug/m3)'] - df['PM10 (ug/m3)'].mean()) / df['PM10 (ug/m3)'].std())

outliers_pm25 = (z_scores_pm25 > 3)
outliers_pm10 = (z_scores_pm10 > 3)

if outliers_pm25.any():
    print(f"Outliers detected in 'PM2.5 (ug/m3)':")
    print(df[outliers_pm25])

if outliers_pm10.any():
    print(f"Outliers detected in 'PM10 (ug/m3)':")
    print(df[outliers_pm10])

# Handle missing values and outliers as needed
# You can choose to remove or impute missing values, and handle outliers according to your data analysis requirements.

# After handling missing values and outliers, you can proceed with AQI calculations as shown in previous responses.

Number of missing values in 'PM2.5 (ug/m3)': 464827
Number of missing values in 'PM10 (ug/m3)': 481794
Outliers detected in 'PM2.5 (ug/m3)':
                  From Date             To Date  PM2.5 (ug/m3)  PM10 (ug/m3)  \
45823   2015-03-27 21:00:00 2015-03-27 22:00:00         500.00           NaN
45824   2015-03-27 22:00:00 2015-03-27 23:00:00         500.00           NaN
45825   2015-03-27 23:00:00 2015-03-28 00:00:00         500.00           NaN
45826   2015-03-28 00:00:00 2015-03-28 01:00:00         500.00           NaN
45827   2015-03-28 01:00:00 2015-03-28 02:00:00         500.00           NaN
...                     ...                 ...            ...           ...
1047548 2021-01-24 01:00:00 2021-01-24 02:00:00         304.28        559.71
1047741 2021-02-01 02:00:00 2021-02-01 03:00:00         178.52        333.40
1047950 2021-02-09 19:00:00 2021-02-09 20:00:00         235.89        436.25
1048023 2021-02-12 20:00:00 2021-02-12 21:00:00         258.04        308.67
1048024 2021-02-12 21:00:00 2021-02-12 22:00:00         173.44        212.05

         NOx (ppb)  SO2 (ug/m3)  CO (mg/m3)  Ozone (ug/m3)
45823         1.75          NaN       33.33           6.25
45824         2.03          NaN        0.00           4.25
45825         1.45         0.33       13.33           5.00
45826         1.08          NaN         NaN           4.00
45827         0.70          NaN        0.00           4.00
...            ...          ...         ...            ...
1047548      29.99         3.57        0.59          20.60
1047741      27.57         3.50        0.45           8.69
1047950     180.43         3.58        1.47           9.19
1048023     170.74         2.45        2.37          15.83
1048024     189.58         2.46        3.06           9.87

[2755 rows x 8 columns]
Outliers detected in 'PM10 (ug/m3)':
                  From Date             To Date  PM2.5 (ug/m3)  PM10 (ug/m3)  \
96349   2020-12-31 03:00:00 2020-12-31 04:00:00            NaN        999.99
96350   2020-12-31 04:00:00 2020-12-31 05:00:00            NaN        250.00
96353   2020-12-31 07:00:00 2020-12-31 08:00:00            NaN        500.00
97246   2021-02-06 12:00:00 2021-02-06 13:00:00          41.34        246.64
97247   2021-02-06 13:00:00 2021-02-06 14:00:00          43.55        246.64
...                     ...                 ...            ...           ...
1047737 2021-01-31 22:00:00 2021-01-31 23:00:00         147.87        274.66
1047741 2021-02-01 02:00:00 2021-02-01 03:00:00         178.52        333.40
1047855 2021-02-05 20:00:00 2021-02-05 21:00:00         133.32        262.25
1047950 2021-02-09 19:00:00 2021-02-09 20:00:00         235.89        436.25
1048023 2021-02-12 20:00:00 2021-02-12 21:00:00         258.04        308.67

         NOx (ppb)  SO2 (ug/m3)  CO (mg/m3)  Ozone (ug/m3)
96349         6.99         7.04        0.62          85.76
96350         8.33         7.09        0.67          82.14
96353        33.30         6.98        0.67          39.77
97246         6.70         3.91        1.11          59.71
97247         9.44         1.94        1.57          59.98
...            ...          ...         ...            ...
1047737      36.19         3.57        0.97          14.17
1047741      27.57         3.50        0.45           8.69
1047855      81.21         3.50        1.07          18.96
1047950     180.43         3.58        1.47           9.19
1048023     170.74         2.45        2.37          15.83

[4955 rows x 8 columns]

In [8]:
# Drop rows with missing values in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
df = df.dropna(subset=['PM2.5 (ug/m3)', 'PM10 (ug/m3)'])

# Calculate z-scores for 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
z_scores_pm25 = np.abs((df['PM2.5 (ug/m3)'] - df['PM2.5 (ug/m3)'].mean()) / df['PM2.5 (ug/m3)'].std())
z_scores_pm10 = np.abs((df['PM10 (ug/m3)'] - df['PM10 (ug/m3)'].mean()) / df['PM10 (ug/m3)'].std())

# Define a threshold for outliers (e.g., 3 standard deviations)
outlier_threshold = 3

# Drop rows with outliers in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
df = df[~(z_scores_pm25 > outlier_threshold)]
df = df[~(z_scores_pm10 > outlier_threshold)]

C:\Users\arush\AppData\Local\Temp\ipykernel_12152\1933458044.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[~(z_scores_pm10 > outlier_threshold)]

In [9]:
print(df['PM2.5 (ug/m3)'].dtype)
print(df['PM10 (ug/m3)'].dtype)

float64
float64

In [10]:
df

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NOx (ppb),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3)
96289,2020-12-28 15:00:00,2020-12-28 16:00:00,26.89,97.46,50.78,7.03,0.30,75.50
96290,2020-12-28 16:00:00,2020-12-28 17:00:00,27.38,108.11,6.70,7.00,1.84,74.85
96291,2020-12-28 17:00:00,2020-12-28 18:00:00,15.00,103.60,6.70,7.04,1.13,45.45
96292,2020-12-28 18:00:00,2020-12-28 19:00:00,15.00,100.97,100.87,7.00,0.33,2.94
96293,2020-12-28 19:00:00,2020-12-28 20:00:00,18.19,109.68,91.31,7.01,1.25,5.08
...,...,...,...,...,...,...,...,...
1048570,2021-03-07 15:00:00,2021-03-07 16:00:00,5.41,7.57,24.85,2.21,0.57,88.78
1048571,2021-03-07 16:00:00,2021-03-07 17:00:00,4.93,6.91,19.92,2.53,0.58,90.30
1048572,2021-03-07 17:00:00,2021-03-07 18:00:00,3.96,5.55,21.81,2.48,0.69,96.91
1048573,2021-03-07 18:00:00,2021-03-07 19:00:00,3.56,4.99,35.65,2.21,0.97,68.57
1048574,2021-03-07 19:00:00,2021-03-07 20:00:00,4.63,6.49,40.82,1.90,1.47,40.02

In [11]:
import numpy as np

# Assuming the actual column names in your dataset
pm25_column = 'PM2.5 (ug/m3)'
pm10_column = 'PM10 (ug/m3)'

# Constants for AQI calculation (Indian standard)
pm25_breakpoints = [0, 30, 60, 90, 120, 250]
pm25_aqi_values = [0, 50, 100, 200, 300, 400, 500]

pm10_breakpoints = [0, 50, 100, 250, 350, 430]
pm10_aqi_values = [0, 50, 100, 200, 300, 400, 500]

# Calculate AQI for PM2.5
def calculate_aqi_pm25(pm25):
    for i in range(len(pm25_breakpoints) - 1):
        if pm25_breakpoints[i] <= pm25 <= pm25_breakpoints[i + 1]:
            aqi = ((pm25_aqi_values[i + 1] - pm25_aqi_values[i]) / (pm25_breakpoints[i + 1] - pm25_breakpoints[i])) * (pm25 - pm25_breakpoints[i]) + pm25_aqi_values[i]
            return aqi
    return pm25_aqi_values[-1]

# Calculate AQI for PM10
def calculate_aqi_pm10(pm10):
    for i in range(len(pm10_breakpoints) - 1):
        if pm10_breakpoints[i] <= pm10 <= pm10_breakpoints[i + 1]:
            aqi = ((pm10_aqi_values[i + 1] - pm10_aqi_values[i]) / (pm10_breakpoints[i + 1] - pm10_breakpoints[i])) * (pm10 - pm10_breakpoints[i]) + pm10_aqi_values[i]
            return aqi
    return pm10_aqi_values[-1]

# Calculate AQI for each row in the dataset
def calculate_aqi(row):
    aqi_pm25 = calculate_aqi_pm25(row[pm25_column])
    aqi_pm10 = calculate_aqi_pm10(row[pm10_column])
    return max(aqi_pm25, aqi_pm10)

# Apply the calculate_aqi function to your dataset
df['AQI'] = df.apply(calculate_aqi, axis=1)

# Now, your dataset should have an 'AQI' column with the calculated Air Quality Index.

# You can further save this dataset or use it for analysis.

In [12]:
df

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NOx (ppb),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),AQI
96289,2020-12-28 15:00:00,2020-12-28 16:00:00,26.89,97.46,50.78,7.03,0.30,75.50,97.460000
96290,2020-12-28 16:00:00,2020-12-28 17:00:00,27.38,108.11,6.70,7.00,1.84,74.85,105.406667
96291,2020-12-28 17:00:00,2020-12-28 18:00:00,15.00,103.60,6.70,7.04,1.13,45.45,102.400000
96292,2020-12-28 18:00:00,2020-12-28 19:00:00,15.00,100.97,100.87,7.00,0.33,2.94,100.646667
96293,2020-12-28 19:00:00,2020-12-28 20:00:00,18.19,109.68,91.31,7.01,1.25,5.08,106.453333
...,...,...,...,...,...,...,...,...,...
1048570,2021-03-07 15:00:00,2021-03-07 16:00:00,5.41,7.57,24.85,2.21,0.57,88.78,9.016667
1048571,2021-03-07 16:00:00,2021-03-07 17:00:00,4.93,6.91,19.92,2.53,0.58,90.30,8.216667
1048572,2021-03-07 17:00:00,2021-03-07 18:00:00,3.96,5.55,21.81,2.48,0.69,96.91,6.600000
1048573,2021-03-07 18:00:00,2021-03-07 19:00:00,3.56,4.99,35.65,2.21,0.97,68.57,5.933333
1048574,2021-03-07 19:00:00,2021-03-07 20:00:00,4.63,6.49,40.82,1.90,1.47,40.02,7.716667

In [13]:
#X_train = np.nan_to_num(X_train)  # Replace NaN with 0
#X_test = np.nan_to_num(X_test)

In [14]:
#from sklearn.preprocessing import StandardScaler

#scaler = StandardScaler()
#X_train = scaler.fit_transform(X_train)
#X_test = scaler.transform(X_test)

In [15]:
import pandas as pd

# Check for NaN values in the entire DataFrame
nan_df = df.isna()

# Check for NaN values in a specific column
nan_in_column = df['AQI'].isna()

In [16]:
# Filling all the null values with mean.
columns_to_fill = [
    'PM2.5 (ug/m3)',
    'PM10 (ug/m3)',
    'NOx (ppb)',
    'SO2 (ug/m3)',
    'CO (mg/m3)',
    'Ozone (ug/m3)',
]

# Fill null values in the specified columns with their respective means
df[columns_to_fill] = df[columns_to_fill].fillna(df[columns_to_fill].mean())

In [17]:
print(df.isnull().sum())

From Date        0
To Date          0
PM2.5 (ug/m3)    0
PM10 (ug/m3)     0
NOx (ppb)        0
SO2 (ug/m3)      0
CO (mg/m3)       0
Ozone (ug/m3)    0
AQI              0
dtype: int64

In [18]:
# Check for infinite values in the entire DataFrame
is_infinite = np.isinf(df)

In [19]:
# Identify rows with infinite values
rows_with_infinity = df[is_infinite.any(axis=1)]

# Identify columns with infinite values
columns_with_infinity = df.columns[is_infinite.any()]

In [20]:
print("Rows with infinity:")
print(rows_with_infinity)

print("Columns with infinity:")
print(columns_with_infinity)

Rows with infinity:
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Columns with infinity:
Index([], dtype='object')

In [21]:
import pandas as pd
import numpy as np



# List of columns to check for infinity
columns_to_check = ['PM2.5 (ug/m3)', 'PM10 (ug/m3)',  'NOx (ppb)',
                     'SO2 (ug/m3)', 'CO (mg/m3)', 'Ozone (ug/m3)', 'AQI']

# Loop through the specified columns and print rows with infinity values
for column_name in columns_to_check:
    # Print rows where the specific column contains positive infinity
    rows_with_infinity = df[df[column_name] == np.inf]

    print("Rows with positive infinity in column {}: ".format(column_name))
    print(rows_with_infinity)

    # Print rows where the specific column contains negative infinity
    rows_with_neg_infinity = df[df[column_name] == -np.inf]

    print("Rows with negative infinity in column {}: ".format(column_name))
    print(rows_with_neg_infinity)

Rows with positive infinity in column PM2.5 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column PM2.5 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column PM10 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column PM10 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column NOx (ppb):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column NOx (ppb):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column SO2 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column SO2 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column CO (mg/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column CO (mg/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column Ozone (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column Ozone (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column AQI:
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column AQI:
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []

In [22]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras import layers
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Convert 'From Date' and 'To Date' to timestamps
df['From Date'] = pd.to_datetime(df['From Date'])
df['To Date'] = pd.to_datetime(df['To Date'])

# Extract relevant features from the timestamp
df['Year'] = df['From Date'].dt.year
df['Month'] = df['From Date'].dt.month
# Add more features as needed (e.g., day, hour, minute)

# Define your target variable and features
y = df['AQI']  # Assuming 'AQI' is the column with AQI values
X = df.drop(columns=['AQI', 'From Date', 'To Date'])  # Exclude the AQI and date columns

# Normalize your features
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Split your dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define a custom attention layer
class AttentionLayer(layers.Layer):
    def __init__(self, **kwargs):
        super(AttentionLayer, self).__init__(**kwargs)

    def build(self, input_shape):
        self.W_q = self.add_weight(name="W_q", shape=(input_shape[-1], input_shape[-1]), initializer="uniform")
        self.W_k = self.add_weight(name="W_k", shape=(input_shape[-1], input_shape[-1]), initializer="uniform")
        self.b_q = self.add_weight(name="b_q", shape=(input_shape[-1],), initializer="zeros")
        self.b_k = self.add_weight(name="b_k", shape=(input_shape[-1],), initializer="zeros")

        super(AttentionLayer, self).build(input_shape)

    def call(self, inputs):
        q = tf.nn.tanh(tf.matmul(inputs, self.W_q) + self.b_q)
        k = tf.nn.tanh(tf.matmul(inputs, self.W_k) + self.b_k)

        attention = tf.reduce_sum(q * k, axis=-1, keepdims=True)
        attention = tf.nn.softmax(attention, axis=1)
        output = inputs * attention

        return output

    def compute_output_shape(self, input_shape):
        return input_shape

# Reshape the data for LSTM and Bi-GRU input
X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

# Define the LSTM+Bi-GRU model with attention mechanism
model = tf.keras.Sequential([
    layers.LSTM(units=64, return_sequences=True, input_shape=(X_train.shape[1], 1)),
    AttentionLayer(),
    layers.Bidirectional(layers.GRU(units=64, return_sequences=True)),
    AttentionLayer(),
    layers.Bidirectional(layers.GRU(units=64)),
    layers.Dense(1)  # Output layer for AQI prediction
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train, y_train, epochs= 5, batch_size=32, validation_data=(X_test, y_test))

# Make predictions on training and testing data
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate performance metrics for training data
mae_train = mean_absolute_error(y_train, y_train_pred)
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))
r2_train = r2_score(y_train, y_train_pred)

# Calculate performance metrics for testing data
mae_test = mean_absolute_error(y_test, y_test_pred)
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))
r2_test = r2_score(y_test, y_test_pred)

# Print the performance metrics
print("Training Metrics:")
print("MAE: ", mae_train)
print("RMSE: ", rmse_train)
print("R2: ", r2_train)

print("\nTesting Metrics:")
print("MAE: ", mae_test)
print("RMSE: ", rmse_test)
print("R2: ", r2_test)

Epoch 1/5
11240/11240 [==============================] - 304s 25ms/step - loss: 215.6761 - val_loss: 2.4555
Epoch 2/5
11240/11240 [==============================] - 233s 21ms/step - loss: 1.8003 - val_loss: 0.2149
Epoch 3/5
11240/11240 [==============================] - 225s 20ms/step - loss: 0.4441 - val_loss: 0.1643
Epoch 4/5
11240/11240 [==============================] - 214s 19ms/step - loss: 0.2374 - val_loss: 5.3744
Epoch 5/5
11240/11240 [==============================] - 231s 21ms/step - loss: 0.1530 - val_loss: 0.0448
11240/11240 [==============================] - 297s 26ms/step
2810/2810 [==============================] - 20s 7ms/step
Training Metrics:
MAE:  0.15729655104834334
RMSE:  0.21042430632465106
R2:  0.9999720297687141

Testing Metrics:
MAE:  0.1575474015709953
RMSE:  0.21170524369468793
R2:  0.9999717588067003