In [1]:

import pandas as pd
import numpy as np
import seaborn as sns
import pandas_datareader as pdr
from datetime import datetime
from pandas import DataFrame
from pandas import concat
import matplotlib.pyplot as plt
import tensorflow as tf

C:\Users\arush\AppData\Roaming\Python\Python311\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\arush\AppData\Roaming\Python\Python311\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
C:\Users\arush\AppData\Roaming\Python\Python311\site-packages\numpy\.libs\libopenblas64__v0.3.23-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
from tensorflow.python.keras.engine.sequential import Sequential

from tensorflow.python.keras.layers import Dense, Conv2D, Flatten, Dropout, MaxPooling2D

from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.layers import LSTM ,Conv1D, MaxPooling1D, Flatten
from tensorflow.keras.models import Sequential
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from keras.layers import Dense, LSTM, Dropout, GRU, Bidirectional
from matplotlib import pyplot
%matplotlib inline

In [3]:
df= pd.read_csv('A:\OverallDataset\Delhi\OverallDelhi.csv')

In [4]:
df

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NOx (ppb),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3)
0,01-01-2010 00:00,01-01-2010 01:00,NaN,NaN,38.75,4.27,4.43,3.0
1,01-01-2010 01:00,01-01-2010 02:00,NaN,NaN,23.25,4.55,3.69,3.5
2,01-01-2010 02:00,01-01-2010 03:00,NaN,NaN,23.25,4.62,3.68,3.5
3,01-01-2010 03:00,01-01-2010 04:00,NaN,NaN,18.25,4.52,3.11,4.0
4,01-01-2010 04:00,01-01-2010 05:00,NaN,NaN,16.25,4.70,2.80,4.0
...,...,...,...,...,...,...,...,...
1000340,02-04-2012 11:00,02-04-2012 12:00,NaN,NaN,NaN,NaN,NaN,NaN
1000341,02-04-2012 12:00,02-04-2012 13:00,NaN,NaN,NaN,NaN,NaN,NaN
1000342,02-04-2012 13:00,02-04-2012 14:00,NaN,NaN,NaN,NaN,NaN,NaN
1000343,02-04-2012 14:00,02-04-2012 15:00,NaN,NaN,NaN,NaN,NaN,NaN
1000344,02-04-2012 15:00,02-04-2012 16:00,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import pandas as pd


# Function to check if a column contains string values
def contains_strings(column):
    return any(isinstance(value, str) for value in column)

# Iterate through the columns and check for string values
for column in df.columns:
    if contains_strings(df[column]):
        print(f"Column '{column}' contains string values.")
    else:
        print(f"Column '{column}' does not contain string values.")

Column 'From Date' contains string values.
Column 'To Date' contains string values.
Column 'PM2.5 (ug/m3)' does not contain string values.
Column 'PM10 (ug/m3)' does not contain string values.
Column 'NOx (ppb)' does not contain string values.
Column 'SO2 (ug/m3)' does not contain string values.
Column 'CO (mg/m3)' does not contain string values.
Column 'Ozone (ug/m3)' does not contain string values.

In [6]:
import pandas as pd

# Assuming your DataFrame is named 'df'
df['From Date'] = pd.to_datetime(df['From Date'], format="%d-%m-%Y %H:%M")
df['To Date'] = pd.to_datetime(df['To Date'], format="%d-%m-%Y %H:%M")

# Verify the data types of the columns
print(df.dtypes)

From Date        datetime64[ns]
To Date          datetime64[ns]
PM2.5 (ug/m3)           float64
PM10 (ug/m3)            float64
NOx (ppb)               float64
SO2 (ug/m3)             float64
CO (mg/m3)              float64
Ozone (ug/m3)           float64
dtype: object

In [7]:
import pandas as pd
import numpy as np


# Check for missing values in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
missing_pm25 = df['PM2.5 (ug/m3)'].isnull().sum()
missing_pm10 = df['PM10 (ug/m3)'].isnull().sum()

if missing_pm25 > 0:
    print(f"Number of missing values in 'PM2.5 (ug/m3)': {missing_pm25}")

if missing_pm10 > 0:
    print(f"Number of missing values in 'PM10 (ug/m3)': {missing_pm10}")

# Check for outliers in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
z_scores_pm25 = np.abs((df['PM2.5 (ug/m3)'] - df['PM2.5 (ug/m3)'].mean()) / df['PM2.5 (ug/m3)'].std())
z_scores_pm10 = np.abs((df['PM10 (ug/m3)'] - df['PM10 (ug/m3)'].mean()) / df['PM10 (ug/m3)'].std())

outliers_pm25 = (z_scores_pm25 > 3)
outliers_pm10 = (z_scores_pm10 > 3)

if outliers_pm25.any():
    print(f"Outliers detected in 'PM2.5 (ug/m3)':")
    print(df[outliers_pm25])

if outliers_pm10.any():
    print(f"Outliers detected in 'PM10 (ug/m3)':")
    print(df[outliers_pm10])

# Handle missing values and outliers as needed
# You can choose to remove or impute missing values, and handle outliers according to your data analysis requirements.

# After handling missing values and outliers, you can proceed with AQI calculations as shown in previous responses.

Number of missing values in 'PM2.5 (ug/m3)': 470525
Number of missing values in 'PM10 (ug/m3)': 661873
Outliers detected in 'PM2.5 (ug/m3)':
                 From Date             To Date  PM2.5 (ug/m3)  PM10 (ug/m3)  \
1140   2010-02-17 12:00:00 2010-02-17 13:00:00         508.00           NaN
1823   2010-03-17 23:00:00 2010-03-18 00:00:00         432.50           NaN
1824   2010-03-18 00:00:00 2010-03-18 01:00:00         503.25           NaN
1825   2010-03-18 01:00:00 2010-03-18 02:00:00         540.25           NaN
1826   2010-03-18 02:00:00 2010-03-18 03:00:00         572.25           NaN
...                    ...                 ...            ...           ...
984864 2023-01-10 00:00:00 2023-01-10 01:00:00         511.03        874.09
984865 2023-01-10 01:00:00 2023-01-10 02:00:00         481.26        767.80
984866 2023-01-10 02:00:00 2023-01-10 03:00:00         424.67        721.98
986232 2023-03-08 00:00:00 2023-03-08 01:00:00         425.31        573.88
986233 2023-03-08 01:00:00 2023-03-08 02:00:00         449.76        551.59

        NOx (ppb)  SO2 (ug/m3)  CO (mg/m3)  Ozone (ug/m3)
1140        34.67         7.10         NaN          23.00
1823        64.50        13.30       12.84           8.00
1824        71.75        14.72       12.63           8.25
1825        73.50        16.02       12.57           8.25
1826        67.25        17.08       11.20           8.25
...           ...          ...         ...            ...
984864     131.74          NaN        5.29          82.24
984865     131.30          NaN        5.27          79.29
984866     132.52          NaN        5.07          73.35
986232     154.74          NaN        0.01          26.12
986233     154.25          NaN        0.01          23.28

[9467 rows x 8 columns]
Outliers detected in 'PM10 (ug/m3)':
                 From Date             To Date  PM2.5 (ug/m3)  PM10 (ug/m3)  \
60011  2016-11-05 11:00:00 2016-11-05 12:00:00         588.50        779.25
60012  2016-11-05 12:00:00 2016-11-05 13:00:00         717.00        928.50
60013  2016-11-05 13:00:00 2016-11-05 14:00:00         702.25        952.25
60014  2016-11-05 14:00:00 2016-11-05 15:00:00         568.75        758.00
60015  2016-11-05 15:00:00 2016-11-05 16:00:00         551.00        730.25
...                    ...                 ...            ...           ...
985196 2023-01-23 20:00:00 2023-01-23 21:00:00         251.64        676.76
986397 2023-03-14 21:00:00 2023-03-14 22:00:00         113.43        745.25
986453 2023-03-17 05:00:00 2023-03-17 06:00:00         100.36        692.95
986455 2023-03-17 07:00:00 2023-03-17 08:00:00         129.81        879.28
986456 2023-03-17 08:00:00 2023-03-17 09:00:00         134.64        757.49

        NOx (ppb)  SO2 (ug/m3)  CO (mg/m3)  Ozone (ug/m3)
60011       51.50          NaN         NaN            NaN
60012       48.80          NaN         NaN            NaN
60013       47.20          NaN         NaN            NaN
60014       31.13          NaN         NaN            NaN
60015       39.15          NaN         NaN            NaN
...           ...          ...         ...            ...
985196     160.79          NaN        7.23          22.18
986397     148.63          NaN        1.66          19.83
986453     171.94          NaN        0.77          65.59
986455     168.33          NaN        0.84          34.67
986456     165.60          NaN        0.77          21.39

[5327 rows x 8 columns]

In [8]:
# Drop rows with missing values in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
df = df.dropna(subset=['PM2.5 (ug/m3)', 'PM10 (ug/m3)'])

# Calculate z-scores for 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
z_scores_pm25 = np.abs((df['PM2.5 (ug/m3)'] - df['PM2.5 (ug/m3)'].mean()) / df['PM2.5 (ug/m3)'].std())
z_scores_pm10 = np.abs((df['PM10 (ug/m3)'] - df['PM10 (ug/m3)'].mean()) / df['PM10 (ug/m3)'].std())

# Define a threshold for outliers (e.g., 3 standard deviations)
outlier_threshold = 3

# Drop rows with outliers in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
df = df[~(z_scores_pm25 > outlier_threshold)]
df = df[~(z_scores_pm10 > outlier_threshold)]

C:\Users\arush\AppData\Local\Temp\ipykernel_15476\1933458044.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[~(z_scores_pm10 > outlier_threshold)]

In [9]:
print(df['PM2.5 (ug/m3)'].dtype)
print(df['PM10 (ug/m3)'].dtype)

float64
float64

In [10]:
df

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NOx (ppb),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3)
59963,2016-11-03 11:00:00,2016-11-03 12:00:00,63.67,123.75,31.67,NaN,NaN,NaN
59964,2016-11-03 12:00:00,2016-11-03 13:00:00,65.00,116.00,30.05,NaN,NaN,NaN
59965,2016-11-03 13:00:00,2016-11-03 14:00:00,86.00,128.50,26.72,NaN,NaN,NaN
59966,2016-11-03 14:00:00,2016-11-03 15:00:00,104.25,141.25,34.52,NaN,NaN,NaN
59967,2016-11-03 15:00:00,2016-11-03 16:00:00,81.25,124.75,24.45,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
987076,2010-09-27 19:00:00,2010-09-27 20:00:00,67.48,126.84,21.13,NaN,3.49,53.35
987077,2010-09-27 20:00:00,2010-09-27 21:00:00,85.60,155.98,24.22,NaN,3.70,46.83
987078,2010-09-27 21:00:00,2010-09-27 22:00:00,105.24,197.10,24.26,NaN,3.87,42.12
987079,2010-09-27 22:00:00,2010-09-27 23:00:00,104.47,162.80,24.82,NaN,3.96,39.53
987080,2010-09-27 23:00:00,2010-09-28 00:00:00,122.85,183.94,43.22,NaN,1.77,18.30

In [11]:
import numpy as np

# Assuming the actual column names in your dataset
pm25_column = 'PM2.5 (ug/m3)'
pm10_column = 'PM10 (ug/m3)'

# Constants for AQI calculation (Indian standard)
pm25_breakpoints = [0, 30, 60, 90, 120, 250]
pm25_aqi_values = [0, 50, 100, 200, 300, 400, 500]

pm10_breakpoints = [0, 50, 100, 250, 350, 430]
pm10_aqi_values = [0, 50, 100, 200, 300, 400, 500]

# Calculate AQI for PM2.5
def calculate_aqi_pm25(pm25):
    for i in range(len(pm25_breakpoints) - 1):
        if pm25_breakpoints[i] <= pm25 <= pm25_breakpoints[i + 1]:
            aqi = ((pm25_aqi_values[i + 1] - pm25_aqi_values[i]) / (pm25_breakpoints[i + 1] - pm25_breakpoints[i])) * (pm25 - pm25_breakpoints[i]) + pm25_aqi_values[i]
            return aqi
    return pm25_aqi_values[-1]

# Calculate AQI for PM10
def calculate_aqi_pm10(pm10):
    for i in range(len(pm10_breakpoints) - 1):
        if pm10_breakpoints[i] <= pm10 <= pm10_breakpoints[i + 1]:
            aqi = ((pm10_aqi_values[i + 1] - pm10_aqi_values[i]) / (pm10_breakpoints[i + 1] - pm10_breakpoints[i])) * (pm10 - pm10_breakpoints[i]) + pm10_aqi_values[i]
            return aqi
    return pm10_aqi_values[-1]

# Calculate AQI for each row in the dataset
def calculate_aqi(row):
    aqi_pm25 = calculate_aqi_pm25(row[pm25_column])
    aqi_pm10 = calculate_aqi_pm10(row[pm10_column])
    return max(aqi_pm25, aqi_pm10)

# Apply the calculate_aqi function to your dataset
df['AQI'] = df.apply(calculate_aqi, axis=1)

# Now, your dataset should have an 'AQI' column with the calculated Air Quality Index.

# You can further save this dataset or use it for analysis.

In [12]:
df

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NOx (ppb),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),AQI
59963,2016-11-03 11:00:00,2016-11-03 12:00:00,63.67,123.75,31.67,NaN,NaN,NaN,115.833333
59964,2016-11-03 12:00:00,2016-11-03 13:00:00,65.00,116.00,30.05,NaN,NaN,NaN,116.666667
59965,2016-11-03 13:00:00,2016-11-03 14:00:00,86.00,128.50,26.72,NaN,NaN,NaN,186.666667
59966,2016-11-03 14:00:00,2016-11-03 15:00:00,104.25,141.25,34.52,NaN,NaN,NaN,247.500000
59967,2016-11-03 15:00:00,2016-11-03 16:00:00,81.25,124.75,24.45,NaN,NaN,NaN,170.833333
...,...,...,...,...,...,...,...,...,...
987076,2010-09-27 19:00:00,2010-09-27 20:00:00,67.48,126.84,21.13,NaN,3.49,53.35,124.933333
987077,2010-09-27 20:00:00,2010-09-27 21:00:00,85.60,155.98,24.22,NaN,3.70,46.83,185.333333
987078,2010-09-27 21:00:00,2010-09-27 22:00:00,105.24,197.10,24.26,NaN,3.87,42.12,250.800000
987079,2010-09-27 22:00:00,2010-09-27 23:00:00,104.47,162.80,24.82,NaN,3.96,39.53,248.233333
987080,2010-09-27 23:00:00,2010-09-28 00:00:00,122.85,183.94,43.22,NaN,1.77,18.30,302.192308

In [13]:
#X_train = np.nan_to_num(X_train)  # Replace NaN with 0
#X_test = np.nan_to_num(X_test)

In [14]:
#from sklearn.preprocessing import StandardScaler

#scaler = StandardScaler()
#X_train = scaler.fit_transform(X_train)
#X_test = scaler.transform(X_test)

In [15]:
import pandas as pd

# Check for NaN values in the entire DataFrame
nan_df = df.isna()

# Check for NaN values in a specific column
nan_in_column = df['AQI'].isna()

In [16]:
# Filling all the null values with mean.
columns_to_fill = [
    'PM2.5 (ug/m3)',
    'PM10 (ug/m3)',
    'NOx (ppb)',
    'SO2 (ug/m3)',
    'CO (mg/m3)',
    'Ozone (ug/m3)',
]

# Fill null values in the specified columns with their respective means
df[columns_to_fill] = df[columns_to_fill].fillna(df[columns_to_fill].mean())

In [17]:
print(df.isnull().sum())

From Date        0
To Date          0
PM2.5 (ug/m3)    0
PM10 (ug/m3)     0
NOx (ppb)        0
SO2 (ug/m3)      0
CO (mg/m3)       0
Ozone (ug/m3)    0
AQI              0
dtype: int64

In [18]:
# Check for infinite values in the entire DataFrame
# is_infinite = np.isinf(df)

In [19]:
# Identify rows with infinite values
# rows_with_infinity = df[is_infinite.any(axis=1)]

# # Identify columns with infinite values
# columns_with_infinity = df.columns[is_infinite.any()]

In [20]:
# print("Rows with infinity:")
# print(rows_with_infinity)

# print("Columns with infinity:")
# print(columns_with_infinity)

In [21]:
import pandas as pd
import numpy as np



# List of columns to check for infinity
columns_to_check = ['PM2.5 (ug/m3)', 'PM10 (ug/m3)',  'NOx (ppb)',
                     'SO2 (ug/m3)', 'CO (mg/m3)', 'Ozone (ug/m3)', 'AQI']

# Loop through the specified columns and print rows with infinity values
for column_name in columns_to_check:
    # Print rows where the specific column contains positive infinity
    rows_with_infinity = df[df[column_name] == np.inf]

    print("Rows with positive infinity in column {}: ".format(column_name))
    print(rows_with_infinity)

    # Print rows where the specific column contains negative infinity
    rows_with_neg_infinity = df[df[column_name] == -np.inf]

    print("Rows with negative infinity in column {}: ".format(column_name))
    print(rows_with_neg_infinity)

Rows with positive infinity in column PM2.5 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column PM2.5 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column PM10 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column PM10 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column NOx (ppb):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column NOx (ppb):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column SO2 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column SO2 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column CO (mg/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column CO (mg/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column Ozone (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column Ozone (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column AQI:
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column AQI:
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []

In [22]:
df

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NOx (ppb),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),AQI
59963,2016-11-03 11:00:00,2016-11-03 12:00:00,63.67,123.75,31.67,11.04804,1.451562,31.301301,115.833333
59964,2016-11-03 12:00:00,2016-11-03 13:00:00,65.00,116.00,30.05,11.04804,1.451562,31.301301,116.666667
59965,2016-11-03 13:00:00,2016-11-03 14:00:00,86.00,128.50,26.72,11.04804,1.451562,31.301301,186.666667
59966,2016-11-03 14:00:00,2016-11-03 15:00:00,104.25,141.25,34.52,11.04804,1.451562,31.301301,247.500000
59967,2016-11-03 15:00:00,2016-11-03 16:00:00,81.25,124.75,24.45,11.04804,1.451562,31.301301,170.833333
...,...,...,...,...,...,...,...,...,...
987076,2010-09-27 19:00:00,2010-09-27 20:00:00,67.48,126.84,21.13,11.04804,3.490000,53.350000,124.933333
987077,2010-09-27 20:00:00,2010-09-27 21:00:00,85.60,155.98,24.22,11.04804,3.700000,46.830000,185.333333
987078,2010-09-27 21:00:00,2010-09-27 22:00:00,105.24,197.10,24.26,11.04804,3.870000,42.120000,250.800000
987079,2010-09-27 22:00:00,2010-09-27 23:00:00,104.47,162.80,24.82,11.04804,3.960000,39.530000,248.233333
987080,2010-09-27 23:00:00,2010-09-28 00:00:00,122.85,183.94,43.22,11.04804,1.770000,18.300000,302.192308

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras import layers
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


# Convert 'From Date' and 'To Date' to timestamps
df['From Date'] = pd.to_datetime(df['From Date'])
df['To Date'] = pd.to_datetime(df['To Date'])

# Extract relevant features from the timestamp
df['Year'] = df['From Date'].dt.year
df['Month'] = df['From Date'].dt.month
# Add more features as needed (e.g., day, hour, minute)

# Define your target variable and features
y = df['AQI']  # Assuming 'AQI' is the column with AQI values
X = df.drop(columns=['AQI', 'From Date', 'To Date'])  # Exclude the AQI and date columns

# Normalize your features
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Split your dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Reshape the data for LSTM input
X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

# Define a custom attention layer
class AttentionLayer(layers.Layer):
    def __init__(self, **kwargs):
        super(AttentionLayer, self).__init__(**kwargs)

    def build(self, input_shape):
        self.W_q = self.add_weight(name="W_q", shape=(input_shape[-1], input_shape[-1]), initializer="uniform")
        self.W_k = self.add_weight(name="W_k", shape=(input_shape[-1], input_shape[-1]), initializer="uniform")
        self.b_q = self.add_weight(name="b_q", shape=(input_shape[-1],), initializer="zeros")
        self.b_k = self.add_weight(name="b_k", shape=(input_shape[-1],), initializer="zeros")

        super(AttentionLayer, self).build(input_shape)

    def call(self, inputs):
        q = tf.nn.tanh(tf.matmul(inputs, self.W_q) + self.b_q)
        k = tf.nn.tanh(tf.matmul(inputs, self.W_k) + self.b_k)

        attention = tf.reduce_sum(q * k, axis=-1, keepdims=True)
        attention = tf.nn.softmax(attention, axis=1)
        output = inputs * attention

        return output

    def compute_output_shape(self, input_shape):
        return input_shape

# Define the LSTM model with attention mechanism
model = tf.keras.Sequential([
    tf.keras.layers.LSTM(units=64, return_sequences=True, input_shape=(X_train.shape[1], 1)),
    AttentionLayer(),
    tf.keras.layers.LSTM(units=64, return_sequences=True),
    AttentionLayer(),
    tf.keras.layers.LSTM(units=64),
    tf.keras.layers.Dense(1)  # Output layer for AQI prediction
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train, y_train, epochs=13, batch_size=32, validation_data=(X_test, y_test))

# Make predictions on training and testing data
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate performance metrics for training data
mae_train = mean_absolute_error(y_train, y_train_pred)
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))
r2_train = r2_score(y_train, y_train_pred)

# Calculate performance metrics for testing data
mae_test = mean_absolute_error(y_test, y_test_pred)
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))
r2_test = r2_score(y_test, y_test_pred)

# Print the performance metrics
print("Training Metrics:")
print("MAE: ", mae_train)
print("RMSE: ", rmse_train)
print("R2: ", r2_train)

print("\nTesting Metrics:")
print("MAE: ", mae_test)
print("RMSE: ", rmse_test)
print("R2: ", r2_test)

Epoch 1/13
8061/8061 [==============================] - 323s 36ms/step - loss: 18581.5098 - val_loss: 1895.8506
Epoch 2/13
8061/8061 [==============================] - 368s 46ms/step - loss: 465.6210 - val_loss: 93.9657
Epoch 3/13
8061/8061 [==============================] - 282s 35ms/step - loss: 74.4477 - val_loss: 74.4402
Epoch 4/13
8061/8061 [==============================] - 390s 48ms/step - loss: 56.9873 - val_loss: 59.1663
Epoch 5/13
8061/8061 [==============================] - 279s 35ms/step - loss: 47.0834 - val_loss: 23.8237
Epoch 6/13
8061/8061 [==============================] - 281s 35ms/step - loss: 39.8390 - val_loss: 28.4120
Epoch 7/13
8061/8061 [==============================] - 274s 34ms/step - loss: 34.9882 - val_loss: 21.9992
Epoch 8/13
8061/8061 [==============================] - 611s 76ms/step - loss: 28.3486 - val_loss: 27.8690
Epoch 9/13
8061/8061 [==============================] - 2458s 305ms/step - loss: 26.4584 - val_loss: 18.3500
Epoch 10/13
2256/8061 [=======>......................] - ETA: 3:02 - loss: 25.5604